<%= form_for([@place, @place.comments.build]) do |f| %>
<!-- explain -->
	<p>
		<%= f.label :commenter %>
		<%= f.text_field :commenter %>		
	</p>

	<p>
		<%= f.label :text %>
		<%= f.text_area :text %>		
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

