<h1><%= @place.name %> Page</h1>
<p>Location: <%= @place.location %></p>
<p>Description: <%= @place.description %></p>
<p>Rating: <%= @place.rating %></p>
<p>Must See: <%= @place.must_see %></p>
<p>Likes: <%= @place.likes %></p>
<%= link_to "Like", place_like_path(@place) %>

<h2>Comments</h2>

<%= render '/comments/form' %>

<% @place.comments.each do |comment| %>
	<p>
		<%= comment.commenter %>:		
		<%= comment.text %>		
	</p>
<% end %>

<%= link_to "Back", places_path %>
<%= link_to "Edit", edit_place_path(@place) %>
