<h1><%= @place.name %> Page</h1>
<p>Location: <%= @place.location %></p>
<p>Description: <%= @place.description %></p>
<p>Rating: <%= @place.rating %></p>
<p>Must See: <%= @place.must_see %></p>

<%= link_to "Back", places_path %>